main, main img {
  max-height: calc(100vh - 140px);
  height: auto;
  max-width: 100vw;
  overflow: hidden;
}

.main-wrapper {
  font-weight: lighter;
  min-width: 320px;
  height: 100vh;
  color: gray;
  transition: background-color 0.5s ease-in;
}

header {
  font-size: 2rem;
  width: 100%;
  display: flex;
  min-height: 70px;
}

.header-title {
  margin: 0.75rem auto 0.75rem auto;
  text-align: center;
  min-width: 80%;
  transition: color 1s steps(5);
}

footer {
  width: 100%;
  display: flex;
  font-size: 1.3rem;
  transition: background-color 0.5s ease-in;
  min-height: 70px;
}

footer.fixed-bottom {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1030;
}

.footer-wrapper {
  margin: 1rem auto;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.footer-name {
  margin-right: 0;
  margin-bottom: 0.75rem;
  transition: color 1s steps(5);
}

.footer-buttons {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
}

.footer-buttons div{
  height: 100%;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.footer-buttons a {
  text-decoration: none;
  color: black;
  margin-right: 0;
  transition: color 1s steps(5);
}

.footer-buttons a:focus{
  outline: none;
}

.footer-buttons Link {
  transition: color 1s steps(5);
}

.footer-buttons div:hover a {
  transform: translateY(-3px) translateX(-5px) rotate(1deg);
  transition: transform 0.4s ease;
  }

.arrow {
  background-color: transparent;
  border: 0;
  position: absolute;
}

.arrow:focus {
  outline: none;
}

.arrow svg {
  width: 2rem;
  color: white;
}

.arrow-right, .arrow-left {
  top: 47%;
}

.arrow-left {
  left: 0;
}

.arrow-right {
  right: 0;
}


@media (min-width: 768px) {
  .header-title {
    margin-right: 0;
    margin-left: auto;
    text-align: left
  }

  .footer-wrapper {
    width: 60%;
    flex-direction: row;
    justify-content: space-between;
    text-align: left;
    align-items: center;
  }

  .footer-name {
    margin-right: 1rem;
    margin-bottom: 0rem;
  }

  .footer-buttons {
    flex-direction: row;
    justify-content: space-between;
  }

  .footer-buttons a {
    margin-right: 0.75rem;
  }
}